body {
  margin: 0;
  background: #feeae9;
  height: 100vh;
  display: grid;
  place-items: center;
  -webkit-transition: background-color linear 5s;
  -moz-transition: background-color linear 5s;
  -o-transition: background-color linear 5s;
  -ms-transition: background-color linear 5s;
  transition: background-color linear 5s;
  overflow-x: hidden;
}

.balloons {
  position: fixed;
  bottom: -200px;
  opacity: 0.6;
  z-index: 99;
  width: 100px;
  height: 183px;
  background-repeat: no-repeat no-repeat;
  background-size: 100px 183px;
}
.balloons h2 {
  text-transform: uppercase;
  font-family: "Signika", sans-serif;
  font-size: 50px;
  color: #bf4136;
  text-shadow: 5px 5px 5px #fff;
  display: none;
}
#b1,
#b11 {
  background-image: url("b1.png");
}
#b2,
#b22 {
  background-image: url("b2.png");
}
#b3,
#b33 {
  background-image: url("b3.png");
}
#b4,
#b44 {
  background-image: url("b4.png");
}
#b5,
#b55 {
  background-image: url("b5.png");
}
#b6,
#b66 {
  background-image: url("b6.png");
}
#b7,
#b77 {
  background-image: url("b7.png");
}
.balloons-rotate-behaviour-one {
  -webkit-animation: balloons_rotate_one linear 10s infinite;
  -webkit-transform: rotate(30deg);
  -moz-animation: balloons_rotate_one linear 10s infinite;
  -moz-transform: rotate(30deg);
  -o-animation: balloons_rotate_one linear 10s infinite;
  -o-transform: rotate(30deg);
  -ms-animation: balloons_rotate_one linear 10s infinite;
  -ms-transform: rotate(30deg);
  animation: balloons_rotate_one linear 10s infinite;
  transform: rotate(30deg);
}
@-webkit-keyframes balloons_rotate_one {
  0% {
    -webkit-transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
  }
}
@-moz-keyframes balloons_rotate_one {
  0% {
    -moz-transform: rotate(30deg);
  }
  50% {
    -moz-transform: rotate(-30deg);
  }
  100% {
    -moz-transform: rotate(30deg);
  }
}
@-o-keyframes balloons_rotate_one {
  0% {
    -o-transform: rotate(30deg);
  }
  50% {
    -o-transform: rotate(-30deg);
  }
  100% {
    -o-transform: rotate(30deg);
  }
}
@-ms-keyframes balloons_rotate_one {
  0% {
    -ms-transform: rotate(30deg);
  }
  50% {
    -ms-transform: rotate(-30deg);
  }
  100% {
    -ms-transform: rotate(30deg);
  }
}
@keyframes balloons_rotate_one {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
.balloons-rotate-behaviour-two {
  -webkit-animation: balloons_rotate_two linear 10s infinite;
  -webkit-transform: rotate(-20deg);
  -moz-animation: balloons_rotate_two linear 10s infinite;
  -moz-transform: rotate(-20deg);
  -o-animation: balloons_rotate_two linear 10s infinite;
  -o-transform: rotate(-20deg);
  -ms-animation: balloons_rotate_two linear 10s infinite;
  -ms-transform: rotate(-20deg);
  animation: balloons_rotate_two linear 10s infinite;
  transform: rotate(-20deg);
}
@-webkit-keyframes balloons_rotate_two {
  0% {
    -webkit-transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
  }
}
@-moz-keyframes balloons_rotate_two {
  0% {
    -moz-transform: rotate(-20deg);
  }
  50% {
    -moz-transform: rotate(20deg);
  }
  100% {
    -moz-transform: rotate(-20deg);
  }
}
@-o-keyframes balloons_rotate_two {
  0% {
    -o-transform: rotate(-20deg);
  }
  50% {
    -o-transform: rotate(20deg);
  }
  100% {
    -o-transform: rotate(-20deg);
  }
}
@-ms-keyframes balloons_rotate_two {
  0% {
    -ms-transform: rotate(-20deg);
  }
  50% {
    -ms-transform: rotate(20deg);
  }
  100% {
    -ms-transform: rotate(-20deg);
  }
}
@keyframes balloons_rotate_two {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.balloon-border {
  position: fixed;
  top: 100%;
  opacity: 0.5;
  z-index: 9999;
}
.btn {
  color: white;
  background-color: pink;
  font-size: 16px;
  outline: none;
  padding: 20px 50px;
  border-radius: 20px;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#cover {
  opacity: 1;
  visibility: visible;
  position: fixed !important;
  transition: all 0.5s ease-in-out;
  height: 100vh;
  width: 100vw;
  z-index: 900;
  background-color: #feeae9;
}
.container {
  z-index: 899;
  perspective: 1000px;
  perspective-origin: 100% 100%;
}

.cube {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  animation: rotate 15s linear infinite;
}

.cube > div {
  position: absolute;
  width: 150px;
  height: 150px;
  opacity: 0.9;
  background: linear-gradient(to right, #09adc8, #001f4e);
}
.text {
  text-shadow: 3px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #ffb0b2 !important;
  text-align: center !important;
}
.text-center {
  text-align: center;
}
.s1 {
  background-image: url(assests/26aec4bd-49fc-49c9-8726-9d876d0d5e16.jfif) !important;
  aspect-ratio: 4/4 !important;
  background-size: cover !important;
  background-position: center !important;
  transform: translateZ(80px);
}

.s2 {
  background-image: url(assests/195650c9-51c1-4444-b847-7a91268fb8ae.jfif) !important;
  aspect-ratio: 4/4 !important;
  background-size: cover !important;
  background-position: center !important;
  transform: rotateY(90deg) translateZ(80px);
}

.s3 {
  background-image: url(assests/bf76367d-368a-48f8-9ddb-245e59d81586.jfif) !important;
  aspect-ratio: 4/4 !important;
  background-size: cover !important;
  background-position: center !important;
  transform: rotateY(180deg) translateZ(80px);
}

.s4 {
  background-image: url(assests/db6218f8-8371-4db0-b5cd-0c8d5d79c0eb.jfif) !important;
  aspect-ratio: 4/4 !important;
  background-size: cover !important;
  background-position: center !important;
  transform: rotateX(90deg) translateZ(80px);
}

.s5 {
  background-image: url(assests/f81e43a9-04f8-4d81-8f16-4909f68c1ce1.jfif) !important;
  aspect-ratio: 4/4 !important;
  background-size: cover !important;
  background-position: center !important;
  transform: rotateY(-90deg) translateZ(80px);
}

.s6 {
  background-image: url(assests/qua.jfif) !important;
  aspect-ratio: 4/4 !important;
  background-size: cover !important;
  background-position: center !important;
  transform: rotateX(-90deg) translateZ(80px) rotate(180deg);
}

@keyframes rotate {
  100% {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  }
}
